<div class="modal bg-light" id="confirm" role="dialog">  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body">
              <p>Are you sure you want to start a new game?</p>
          </div>
          <div class="modal-footer">
              <button id="confirm-cancel" type="button" class="btn btn-default">Cancel</button>
              <button id="confirm-ok" type="button" class="btn btn-danger btn-ok">New Game</button>
          </div>
      </div>
  </div>
</div>