<div class="col">
    <p class="text-center text-success">Created by Kaizen Conroy</p>
</div>
<div class="col">
    <p class="text-center text-success">Check out my <a href="https://kaizen3031593.github.io/" target="_blank">website</a></p>
</div>
