<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="keywords"
content="online board game, team, game, cryptonight, codenames, codes, codewords, codewordsgame, Kaizen Conroy, Williams College, virtual, family and friends, team game, board game, 25 words, red and blue, bomb word, kryptonite, spymaster, superhero, sidekick, clues, field operative, decode, wins, create game, room, invite other players to join, host, rounds, assigning teams, categories, red spymaster, blue spymaster, sending clues, single word, guess, invalid clue, penalty, clue numbers, uncover the bomb, making guesses, turn, clue, make a guess, correct guess, incorrect guess, teams" />
<!-- Primary Meta Tags -->
<meta name="title" content="cryptonight">
<meta name="description"
content="Cryptonight is a fun, online, superhero themed multiplayer word game where teams of two uncover bombs and avoid the kryptonite word.">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap" rel="stylesheet">
<link rel="icon" href="images/favicon.ico">

<title>Code Words - CryptoNight</title>