<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PQSDZ3R');</script>
  <!-- End Google Tag Manager -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-188160544-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-188160544-1');
</script>


<meta name="keywords"
content="codenames, codes, codewords, codewordsgame, cryptonight, cryptonight.codes, cryptonight codes, Kaizen Conroy, online board game, online word game, team, game, Williams College, virtual, family and friends, team game, board game, 25 words, red and blue, bomb word, kryptonite, spymaster, superhero, sidekick, clues, field operative, decode, wins, create game, room, invite other players to join, host, rounds, assigning teams, categories, red spymaster, blue spymaster, sending clues, single word, guess, invalid clue, penalty, clue numbers, uncover the bomb, making guesses, turn, clue, make a guess, correct guess, incorrect guess, teams" />
<!-- Primary Meta Tags -->
<meta name="title" content="cryptonight">
<meta name="description"
content="Cryptonight is a fun, online, superhero themed multiplayer word game where teams of two uncover bombs and avoid the kryptonite word.">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap" rel="stylesheet">
<link rel="icon" href="images/favicon.ico">

<title>CryptoNight - a Code Words Game - Play with your friends online!</title>