<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/header'); %>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
    <%- include('partials/tagmanager'); %>
    <nav class="navbar fixed-top navbar-light bg-light">
        <div class="col-2">
            <form action="/" method="GET">
                <button name="home" class="w-100 btn btn-lg btn-outline-dark" type="submit">Back</button>
            </form>            
        </div>
        <div class="col-10">
        </div>
    </nav>
    <div class="row mt-5">

    </div>
    <div class = "row mt-5">
        <div class="col text-success">
            <h1>
                CryptoNight Leaderboard
            </h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                      <th colspan="5">Overall</th>
                      <th colspan="4">Superhero</th>
                      <th colspan="3">Sidekick</th>
                    </tr>
                </thead>
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Username</th>
                    <th scope="col">G</th>
                    <th scope="col">W</th>
                    <th scope="col">L</th>
                    <th scope="col">W/L<i class="fas fa-percent"></i></th>
                    <th scope="col">G</th>
                    <th scope="col"><i class="fas fa-check"></i></th>
                    <th scope="col"><i class="fas fa-times"></i></th>
                    <th scope="col"><i class="fas fa-percent"></i></th>
                    <th scope="col">G</th>
                    <th scope="col"><i class="fas fa-search"></i>/<i class="fas fa-redo"></i></th>
                    <th scope="col"><i class="fas fa-check"></i>/<i class="fas fa-redo"></i></th>
                  </tr>
                </thead>
                <tbody id = "total-table">
                </tbody>
              </table>
        </div>

    <div class="row mt-5 justify-content-center">
        <div class="col-6">
            <div class="row justify-content-center border border-success rounded">
                <div class="col-2">
                    <% for(var i=0; i<9; i++){ %>
                        <span class="text-success">
                            <i class="far fa-money-bill-alt"></i>
                        </span>
                    <% } %>
                </div>
                <div class="col-8 text-center text-success">
                    <p>
                        Want to see more features like sign-in capabilities and this leaderboard?
                        Venmo @kaizenconroy to support my passion project!
                    </p>
                </div>
                <div class="col-2">
                    <% for(var i=0; i<9; i++){ %>
                        <span class="text-success">
                            <i class="far fa-money-bill-alt"></i>
                        </span>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="row w-100 fixed-row-bottom">
        <%- include('partials/footer'); %>
    </div>
</body>
</html>
