<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/header'); %>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>

</head>
<body>
    <%- include('partials/tagmanager'); %>
    <nav class="navbar fixed-top navbar-light bg-light">
        <div class="col-2">
            <form action="/" method="GET">
                <button name="home" class="w-100 btn btn-lg btn-outline-dark" type="submit">Back</button>
            </form>            
        </div>
        <div class="col">
            <h1>
                <span class="text-success">
                    <i class="fas fa-universal-access"></i>
                </span>
                Single Player Lobby
                <span class="text-success">
                    <i class="fas fa-universal-access"></i>
                </span>
            </h1>
        </div>
    </nav>
    <canvas id="canvas"></canvas>
    <div class="container">
        <div class="row mt-5">
        </div>
        <div class="row mt-5">
        </div>
        <div class="row">
            <div class="col">
                <h1> Enter your username to join the lobby and you will be paired with the next 4 players available!</h1>
            </div>
        </div>
        <!-- Enter Lobby Form -->
        <div id="enter-form" class="row justify-content-center">
            <div class="col-6">
                <div class="form-row justify-content-center" id="display-form">
                    <div class="col-md-6">
                        <input id="username" type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="col-md-4 text-center">
                        <button id="lobbybtn" type="submit" class="btn btn-outline-success">Enter</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Leave Lobby Form -->
        <div id="leave-form" class="row justify-content-center" style="display:none;">
            <div class="col-md-4 text-center">
                <button id="leavebtn" type="submit" class="btn btn-outline-success">Leave</button>
            </div>
        </div>
        <!-- Enter Room Button (Hidden and javascript will call it) -->
        <form action="/room" method="POST" style="display:none;">
            <input id="name" type="text" class="form-control" name="username" required>
            <input id="room" type="text" class="form-control" name="roomname" required>
            <button id="enter" type="submit">Enter</button>
        </form>
        <!-- Lobby -->
        <div class="jumbotron mt-5">
            <h1>Player Lobby</h1>
            <div class="row mt-5">
            </div>
            <div id = "playerlobby" class = "row">
            </div>
        </div>
    </div>
    <div class="row w-100">
        <%- include('partials/footer'); %>
    </div>
    <script src="/lobby.js"></script>
    <script src="/confetti.js"></script>
</body>
</html>
