<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Words</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-8" style="border:1px solid #e40c0c;">
                <div class="container h-100 cta-item" style="border:1px solid #0c8ee4;">
                    <div class="row align-items-start" style="border:1px solid #e40cc0;">
                        <div class="col-12">
                            <h1><span style="color: rgb(71, 197, 255);">
                                <i class="fas fa-trophy"></i>
                                </span>
                                Code Words Game
                                <span style="color: rgb(71, 197, 255);">
                                    <i class="fas fa-trophy"></i>
                                </span>
                            </h1>
                        </div>
                    </div>
                    <div class="row" style="border:1px solid #e40cc0;">
                        <div class="col-12">
                            <h1>Code Words Game</h1>
                        </div>
                    </div>
                    <div class="row bottom-aligned" style="border:1px solid #e40cc0;">
                        <div class="col" style="border:1px solid #e40cc0;">
                            <p class="users-online">Users Online</p>
                            <div class="users"></div>
                        </div>
                    </div>
                </div>
                
                
            </div>
            <div class="col-4" style="border:1px solid #cecece;">    
                <div class="container h-100 p-0">
                    <h3 id="room-message"></h3>
                    <div class="container h-75 overflow-auto text-wrap text-break rounded" style="border:1px solid #3708e0; max-width: 500px; max-height: 500px;" id="chat-message">
                        <div id="output"></div>
                        <div id="feedback"></div>
                    </div>
                    <input class="control rounded" type="text" id="message" placeholder="Enter message">
                    <button class="w-100 btn btn-lg btn-outline-primary" id="send" type="submit">Send</button>
                </div>
                
            </div>
        </div>
    </div>
    <script src="/chat.js"></script>
</body>
</html>
