<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Words</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
</head>
<style>
html,body {
    height: 100%;
  }
body {
    background-color: #f5f5f5;
}
</style>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-8" style="border:1px solid #cecece;">
                <h1>Code Words Game
                    <span style="color: rgb(71, 197, 255);">
                        <i class="fas fa-trophy"></i>
                    </span>
                </h1>
                <p class="users-online">Users Online</p>
                <div class="users">
                </div>
            </div>
            <div class="col-4" style="border:1px solid #cecece;">    
                <div class="container h-100 p-0" style="border:1px solid #08e013;">
                    <h2 id="room-message"></h2>
                    <div class="container h-75 overflow-auto text-wrap text-break rounded" style=" border:1px solid #e00808;" id="chat-message">
                        <div id="output"></div>
                        <div id="feedback"></div>
                    </div>
                    <input class="form-control" type="text" id="message" placeholder="Enter message" required>
                    <button class="w-100 btn btn-lg btn-outline-primary" id="send" type="submit">Send</button>
                </div>
                
            </div>
        </div>
    </div>
    <script src="/chat.js"></script>
</body>
</html>
