<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/header'); %>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <%- include('partials/tagmanager'); %>
    <nav class="navbar fixed-top navbar-light bg-light">
        <div class="col-2">
            <form action="/" method="GET">
                <button name="home" class="w-100 btn btn-lg btn-outline-dark" type="submit">Back</button>
            </form>            
        </div>
        <div class="col-10">
            <div class="progress">
                <div id="myBar" class="progress-bar bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row mt-5">
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-6">
                <div class="row align-items-center">
                    <div class="col-12 text-center">
                        <h2>
                            <span class="text-success">
                                <i class="fas fa-gem"></i>
                            </span>
                            Rules to CryptoNight
                            <span class="text-success">
                                <i class="fas fa-gem"></i>
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h2>
                            <span class="text-primary">
                                <i class="fas fa-user-secret"></i>
                            </span>
                            How to Play:
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h5>
                            CryptoNight is an online word game with similar rules to the board game <a href="https://en.wikipedia.org/wiki/Codenames_(board_game)" target="_blank">Codenames</a>.
                            In CryptoNight, the objective is simple: "diffuse" all your teams bombs before the other team, without accidentally selecting the "cryptonight" clue!
                            The game is for 4 players, 2 on each team. Each team has a "Superhero" character and a "Sidekick" character. 
                            In turns, the Sidekick gives one-word clues that can point to multiple words on the board, and the Superhero must blindly select the correct words. 
                            Be careful though! Each of the Superhero's guesses holds risk – they could accidentally select a dud, the other team's bomb, or the cryptonight!
                            Compete to see which team can claim to be the best superhero duo!
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h2>
                            <span class="text-danger">
                                <i class="fas fa-user-secret"></i>
                            </span>
                            Why CryptoNight? (In Game Statistics)
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h5>
                            Hi, its Kaizen, creator of CryptoNight. I know there are lots of online versions of Codenames out there, but I'm here to convince you that CryptoNight is the version you should try
                            the next time your friends or family want to play the game. First, CryptoNight has a theme – superheroes and sidekicks, so join in with usernames like Batman/Robin or Clark/Lois.
                            Second, and perhaps more awesome, CryptoNight supports all sorts of statistics for your entertainment.
                            There are per game statistics like "time spent per move" and "correct guess percentage," and <a href="https://cryptonight.codes/leaderboard" target="_blank">lifetime statistics</a> like wins and losses where you can compete with players around the world. 
                            I know that my family thinks I send clues very slowly so hopefully the timer statistic will assuage those concerns.
                            More is always in the pipeline and if you have an idea for a cool new feature, I'd love to hear it!
                        </h5>
                        <h5 class="pt-2">
                            Oh, and if you feel particularly connected to Williams College, the NESCAC, or Ultimate Frisbee, support one of your own!
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h2>
                            <span class="text-primary">
                                <i class="fas fa-user-secret"></i>
                            </span>
                            Getting started:
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h5>
                            You will need exactly 4 players to play CryptoNight. 
                            To get started, one player can create a room and the other three can join into the room that was created.
                            In the room, each player can manually toggle which team they are on and which role to play.
                            You can also communicate with each other using the chat section, which will be available throughout the game.
                            When everyone has split into teams of 2 each with a superhero and sidekick, click 'start game'!
                        </h5>
                        <h5>
                            If you don't have 3 others to play with, don't worry! You can connect with other players around the world in the "<a href="https://cryptonight.codes/lobby" target="_blank">Single Player Lobby</a>"".
                            Once 4 players enter the lobby, a new room will be created that the players will be redirected to. 
                            Once you're there, you can communicate with each other using the chat box.
                            It's a cool way to play the game you love with new people every time!
                        </h5>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-6">
                        <img src="images/sidekick.png" class="img-fluid" alt="Sidekick">
                    </div>
                    <div class="col-6">
                        <img src="images/superhero.png" class="img-fluid" alt="Superhero">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h2>
                            <span class="text-danger">
                                <i class="fas fa-user-secret"></i>
                            </span>
                            Playing the Game:
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h5>
                            The game board consists of 25 word "bombs", 9 of which are Red, 8 Blue, 1 Green (the "cryptonight"), and the rest Yellow.
                            Red and Blue bombs correlate to each team, and Red has one extra because they get to go first.
                            Yellow bombs are duds while the Green bomb is the "cryptonight" that loses the game for the team that selects it.
                            Sidekicks should avoid sending clues that might suggest the kyrptonite clue is their own!
                        </h5>
                        <h5 class="pt-2">
                            Once the game has started, each player takes turns, starting with the Red Sidekick. 
                            When the Red Sidekick has locked in their clue (or when time is up), the clue is sent over to the Red Superhero.
                            The Red Superhero can guess until they make a mistake, they click 'end turn', or their time is up.
                            Then, the process repeats itself with the Blue Sidekick and Superhero, and so on.
                            Each time a red or blue bomb is diffused, their respective scores decrease by one.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h2>
                            <span class="text-primary">
                                <i class="fas fa-user-secret"></i>
                            </span>
                            Winning:
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h5>
                            A team can win the game if they diffuse all the bombs of their colors. 
                            To be successful, each Sidekick's clue can correspond to multiple words related to their bombs.
                            If a Superhero selects the "cryptonight" clue, however, that team immediately loses and the game is over.
                            After the game is over, a pop up screen will deliver nifty statistics like the average time it took per player per turn.
                            Compete with your friends and make sure you're not the slowpoke of the group!
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h2>
                            <span class="text-danger">
                                <i class="fas fa-user-secret"></i>
                            </span>
                            Statistics:
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h5>
                            After a game, the popup boasts a robust suite of statistics to peruse. However, statistics are available to you in the chat window as well.
                            Simply type "/help" to view the commands that you can call at any point in the room. For example, "/stats" returns the Win/Loss record of all 
                            the players in the room. 
                        </h5>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-8">
                        <img src="images/gameover.png" class="img-fluid" alt="Game Over Modal">
                    </div>
                    <div class="col-4">
                        <img src="images/stats.png" class="img-fluid" alt="Chat Window Statistics">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h2>
                            <span class="text-primary">
                                <i class="fas fa-user-secret"></i>
                            </span>
                            Support:
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h5>
                            There are many ways you can support CryptoNight in addition to helping me stay on top of the cost to run this website! 
                            You can visit the source code on <a href="https://github.com/kaizen3031593/code-words-game" target="_blank">github</a> and give me a star.
                            Found any bugs or want to suggest features? Send me a github issue or email me at zen.conroy@gmail.com.
                            Love the game? Tell your friends and spread the word.
                            Any feedback is strongly encouraged!
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row w-100">
        <%- include('partials/footer'); %>
    </div>
    <script src="/rules.js"></script>
</body>
</html>
