<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Words</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-6">
                <div class="row align-items-center">
                    <div class="col-12 text-center">
                        <h2>
                            <span class="text-primary">
                                <i class="fas fa-user-secret"></i>
                            </span>
                            Rules to Spycodes.io
                            <span class="text-danger">
                                <i class="fas fa-key"></i>
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h2>
                            <span class="text-primary">
                                <i class="fas fa-user-secret"></i>
                            </span>
                            How to Play:
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <p>
                            Spycodes is an online spin of popular board game <a href="https://en.wikipedia.org/wiki/Codenames_(board_game)" target="_blank">Codenames</a>.
                            The game is for 4 players, 2 on each team. Each team has a "spymaster" and a "field operator". 
                            The game works by having the "spymaster" give one-word clues that can point to multiple words on the board. 
                            The other players on the team attempt to guess their team's words while avoiding the words of the other team.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h2>
                            <span class="text-primary">
                                <i class="fas fa-user-secret"></i>
                            </span>
                            Getting started:
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <p>
                            You will need exactly 4 players to play Spycodes. 
                            To get started, one player can create a game and the other three can join the game that was created.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
