* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rakkas','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body {
    height: 100%;
  }

body {
    background-color: #f5f5f5;
}

p {
    font-size: 16px;
}

h1, h3 {
    text-align: center;
    margin-top: 15px;
}

input {
    width: 100%;
    height: 40px;
    text-indent: 10px;
}

/* button {
    width: 100%;
    height: 50px;
    background-color: #1a2eda;
    color: white;
    font-size: larger;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border: none;
} */

#output, #feedback {
    margin-left: 10px;
}

p { margin:0 !important; }


::placeholder {
    font-weight: 700;
  }

.control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.cta-item {
    display: flex;
    flex-direction: column;
 }
 
.bottom-aligned {
    margin-top: auto;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.hidden {
    display:none;
}

.fixed-row-bottom { position: fixed; bottom: 0;}

.dropdown-item.active, .dropdown-item:active {
    color: #fff !important;
    background-color: #5cb85c !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: text;
    display: block;
}

.avatar {
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    overflow: hidden;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

/* confetti */
canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}